In [8]:
# Importing necessary libraries 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [30]:
# Loading dataset
file_path = r'C:\Users\PRINCE\OneDrive\Documents\GitHub\Azubi_2\my2024-fuel-consumption-ratings.csv'
df = pd.read_csv(file_path, encoding='ISO-8859-1')

# Display the first few rows
df.head()

,Model year,Make,Model,Vehicle class,Engine size (L),Cylinders,Transmission,Fuel type,City (L/100 km),Highway (L/100 km),Fuel consumption(L/100 km),Combined (mpg),CO2 emissions (g/km),CO2 rating,Smog rating
0,2024,Acura,Integra A-SPEC,Full-size,1.5,4,AV7,Z,8.1,6.5,7.4,38,172,6,7
1,2024,Acura,Integra A-SPEC,Full-size,1.5,4,M6,Z,8.9,6.5,7.8,36,181,6,6
2,2024,Acura,Integra Type S,Full-size,2.0,4,M6,Z,11.1,8.3,9.9,29,230,5,6
3,2024,Acura,MDX SH-AWD,Sport utility vehicle: Small,3.5,6,AS10,Z,12.6,9.4,11.2,25,263,4,5
4,2024,Acura,MDX SH-AWD Type S,Sport utility vehicle: Standard,3.0,6,AS10,Z,13.8,11.2,12.4,23,291,4,5

In [36]:
# Display dataset information
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Model year                  768 non-null    int64
 1   Make                        768 non-null    object
 2   Model                       768 non-null    object
 3   Vehicle class               768 non-null    object
 4   Engine size (L)             768 non-null    float64
 5   Cylinders                   768 non-null    int64
 6   Transmission                768 non-null    object
 7   Fuel type                   768 non-null    object
 8   City (L/100 km)             768 non-null    float64
 9   Highway (L/100 km)          768 non-null    float64
 10  Fuel consumption(L/100 km)  768 non-null    float64
 11  Combined (mpg)              768 non-null    int64
 12  CO2 emissions (g/km)        768 non-null    int64
 13  CO2 rating                  768 non-null    int64
 14  Smog rating                 768 non-null    int64
dtypes: float64(4), int64(6), object(5)
memory usage: 90.1+ KB

,Model year,Engine size (L),Cylinders,City (L/100 km),Highway (L/100 km),Fuel consumption(L/100 km),Combined (mpg),CO2 emissions (g/km),CO2 rating,Smog rating
count,768.0,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,2024.0,3.086198,5.541667,12.410417,9.432552,11.071224,27.332031,259.190104,4.479167,5.497396
std,0.0,1.268500,1.891678,3.392118,2.303873,2.845196,7.710060,64.902216,1.304723,1.607510
min,2024.0,1.200000,3.000000,4.400000,4.400000,4.400000,11.000000,104.000000,1.000000,1.000000
25%,2024.0,2.000000,4.000000,10.100000,7.700000,9.000000,22.000000,210.000000,4.000000,5.000000
50%,2024.0,3.000000,6.000000,12.250000,9.300000,11.000000,26.000000,260.000000,4.000000,6.000000
75%,2024.0,3.600000,6.000000,14.500000,10.825000,12.800000,31.000000,299.000000,5.000000,7.000000
max,2024.0,8.000000,16.000000,30.300000,20.900000,26.100000,64.000000,608.000000,8.000000,8.000000

In [41]:
# Renaming selected colums
df = df.rename(columns = {
    'Engine size (L)':'Engine_Size (L)',
    'Cylinders':'Cylinder',
    'Fuel consumption(L/100 km)':'Fuel_Consumption(L/100 km)',
    'CO2 emissions (g/km)': 'CO2_Emissions (g/km)'
    })
df.head()

,Model year,Make,Model,Vehicle class,Engine_Size (L),Cylinder,Transmission,Fuel type,City (L/100 km),Highway (L/100 km),Fuel_Consumption(L/100 km),Combined (mpg),CO2_Emissions (g/km),CO2 rating,Smog rating
0,2024,Acura,Integra A-SPEC,Full-size,1.5,4,AV7,Z,8.1,6.5,7.4,38,172,6,7
1,2024,Acura,Integra A-SPEC,Full-size,1.5,4,M6,Z,8.9,6.5,7.8,36,181,6,6
2,2024,Acura,Integra Type S,Full-size,2.0,4,M6,Z,11.1,8.3,9.9,29,230,5,6
3,2024,Acura,MDX SH-AWD,Sport utility vehicle: Small,3.5,6,AS10,Z,12.6,9.4,11.2,25,263,4,5
4,2024,Acura,MDX SH-AWD Type S,Sport utility vehicle: Standard,3.0,6,AS10,Z,13.8,11.2,12.4,23,291,4,5

In [40]:
# Displaying selected columns
selected_columns = df[['Engine_Size (L)', 'Cylinder', 'Fuel_Consumption(L/100 km)', 'CO2_Emissions (g/km)']]
selected_columns

,Engine_Size (L),Cylinder,Fuel_Consumption(L/100 km),CO2_Emissions (g/km)
0,1.5,4,7.4,172
1,1.5,4,7.8,181
2,2.0,4,9.9,230
3,3.5,6,11.2,263
4,3.0,6,12.4,291
...,...,...,...,...
763,2.0,4,8.9,207
764,2.0,4,9.5,223
765,2.0,4,9.0,210
766,2.0,4,9.6,226
767,2.0,4,9.8,230

In [42]:
# Target
y = selected_columns['CO2_Emissions (g/km)']

# Feature
x = selected_columns['Engine_Size (L)']

In [43]:
from sklearn.model_selection import train_test_split

# Splitting dataset
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=42)

In [ ]:
# Importing model
from sklearn.linear_model import LinearRegression

# Initializing linear regression model